.buttonBox {
  width: 100%;
  height: 20%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.nonNumericSymbol {
  color: #f75e11;
  font-size: 30px;
  font-weight: 600;
}

.numericSymbol {
  color: whitesmoke;
  font-size: 25px;
  font-weight: 500;
}

