.interface {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
  .interface {
    height: 90%;
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  text-align: right;
  height: 100%;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 1rem;
  
}
.history {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.selected {
  font-size: 36px;
  color: beige;
}

