* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0d1117;
  font-family: 'Darker Grotesque';
  }

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
